@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
  font-family: "Titillium Web", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html body h1,
html body h2 {
  font-family: "Khand", sans-serif;
  @apply font-bold;
}

.max-w-responsive {
  @apply px-4 md:px-0 md:w-10/12 grow mx-auto;
}

.card {
  @apply flex max-xl:flex-col items-center p-3 gap-4;
  @apply bg-white rounded-lg border border-gray-200 shadow-lg;
}

.card-icon {
  @apply text-8xl md:text-7xl rounded-lg flex justify-center items-center;
  @apply max-xl:bg-[#1f9495] max-xl:text-white max-xl:opacity-60 max-xl:p-2 max-xl:w-full;
  /* @apply text-[#0d4041]; */
}

.divider {
  @apply min-w-1 bg-[#1f9495] h-full rounded-lg;
  @apply max-xl:hidden;
}

.card-text {
  @apply flex flex-col gap-2 grow mb-auto;
}

.card-title {
  @apply text-xl font-bold text-gray-800;
}

.nav-item {
  @apply hover:bg-[#a9e7e8] hover:text-[#0b2a2a] transition-all py-2 px-4 rounded-md;
}

.section-padding {
  @apply py-8 md:py-12;
}

h1 {
  @apply text-5xl md:text-6xl uppercase max-md:text-center;
}

h2 {
  @apply text-3xl md:text-4xl;
}

.section-text-container {
  @apply flex md:w-7/12 flex-col gap-4 md:gap-6 max-md:text-center
}

.section-container {
  @apply max-w-responsive flex max-md:flex-col items-center justify-between gap-6
}
